/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.css';
body{
    background-color:rgb(58, 58, 58)
}
.form-control{
    background-color: rgb(187, 181, 181);
    height:33px;
    width:150px;
    

    
}

#word{
    height: 35px;
    width:100px;
}
