<div id="form">
    <form [formGroup]="searchForm" (ngSubmit)="searchImage(searchForm)">
        
        <label class="form-control" for="word" >Enter words</label>
        <input type="text"
              class="form-control"
              formControlName="word"
              id="word"
              />
        <div class="alert alert-danger" *ngIf="!word.valid && word.touched">
          <span *ngIf="word.hasError('required')">
              Please enter a keyword
          </span>
        </div>
        
        <button class="btn btn-primary">Search</button>
      </form>
      
</div>
